

<footer class="container-fluid bg-black" >
    <div class ="container">

        <div class="container-fluid">
            <div class="row p-4 text-light">
                <div class="col-12 col-md-2">
                    <a href="{{ path("app_home") }}"><img src="{{asset("images/logo.png")}}" class="img-fluid" alt="logo"/></a>
                </div>
                <div class="col-md-8 ms-auto text-end">
                    <a href="" class="text-white nav-link">Qui sommes-nous?</a>
                </div>
            </div>
        </div>


        <!--Javascript -->
    </div>

    <!-- select multiple & jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
</footer>