{% extends 'base.html.twig' %}

{% block title %}Edit Recette{% endblock %}

{% block body %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <div class="bg-addRecette container-fluid  h-100 ">
        <div class="container d-flex justify-content-center align-item-center padding-50">
            <div class="row rounded-5 rounded-pill-login ">
                <div class=" col-12 col-md-10 mx-auto text-white">
                    <h1 class="mt-4 fw-lighter">Modifier la recette</h1>
                    <hr>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}
