{% extends 'base.html.twig' %}

{% block title %}Nos recettes{% endblock %}

{% block body %}
    <div class="container-fluid bg-Allrecette h-100">
        <div class="container padding-50">
            <div class="row rounded-4 rounded-pill-login p-5">
                <div class=" col-12 col-md-3 text-white">
                    <p >Filtrer</p>
                    {{ form(form) }}

                </div>
                <div class="col-md-9">
                    <h1 class="fw-bold mb-4 text-white" >Nos Recettes</h1>
                    <div class="row ">
                        <!-- On affiche que les recettes publiques -->
                        {% for recette in recettes %}

                            <div class="col-md-4 col-lg-4 mb-3">
                                {% include 'recette/_single.html.twig' %}
                            </div>
                        {% endfor %}

                    </div>
                    <div class="d-flex justify-content-center pagination mt-5">
                        <ul class="pagination">
                            {% for page in 1..recettes.pageCount %}
                                <li class="page-item{% if page == recettes.getCurrentPageNumber() %} active{% endif %} p-1">
                                    <a class="page-link rounded-circle " href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page})) }}">{{ page }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
