{% extends 'base.html.twig' %}

{% block title %}New Recette{% endblock %}

{% block body %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <div class="bg-addRecette  h-100 ">
        <div class="container padding-50">
            <div class="row justify-content-center align-items-center rounded-5 rounded-pill-login ">
                <div class=" col-12 col-lg-8 text-white">
                    <h1 class="mt-4 display-4">Ajouter une recette</h1>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success mt-4">{{ message }}</div>
                    {% endfor %}
                    <hr>
                    {{ include('recette/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    // In your Javascript (external .js resource or tag)




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}





