{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="container padding-300">
        <div class="row">
            <h1>Modification du mot de passe</h1>
            <div class="col-md-6">
                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-dark rounded-pill">Modifier</button>
                {{ form_end(resetForm) }}
            </div>

        </div>
    </div>

{% endblock %}
